
.page {
    display: flex;
    flex-direction: row;
    border: 32px solid white;
    width: 100vw;
    height: 100vh;
    
}

.left_side {
    
    background: #03AEEE36;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.right_side {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap:40px;
    
}

.left_side img {
    
    border-radius: 50%;
    width: 80%;
    height: 80%;
    border: 50px solid white;
    opacity: 1;


}


.right_side img {
    top: 385px;
    left: 1193px;
    width: 208px;
    height: 45px;
    /* border:white ;
    border-width: 100px; */
    
}
Input{
    padding: 10px;
}

