form{
    margin: 24px;
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    margin-left: 10px;

}
select{
    padding: 10px;
}
form div{
    width: 30%;
    gap:10px;
    
}

.button{
    width: 100%;
    display: block;
        
}
.button button{
    width:200px;
}
.employeeid{
    background-color:#d1d1d1;
}